<%= link_to 'Create New Food', new_food_path %>
<ul>
  <% @foods.each do |food| %>
    <li>
      <a href="<%= food_path(food) %>"><%= food.name %></a>
      Cal: <%= food.calories %>
      F: <%= food.total_fat || 'n/a' %>
      C: <%= food.total_carbohydrate || 'n/a' %>
      P: <%= food.protein || 'n/a'%>
    </li>
  <% end %>
</ul>
